In [3]:
import os
import pandas as pd
import great_expectations as gx

os.chdir(os.getcwd())

In [ ]:
ridership_df = pd.read_csv('data/CTA_-_Ridership_-__L__Station_Entries_-_Daily_Totals_20250203.csv')

In [7]:
ridership_df.head(10)

   station_id               stationname        date daytype  rides
0       41280            Jefferson Park  12/22/2017       W   6104
1       41000          Cermak-Chinatown  12/18/2017       W   3636
2       40280              Central-Lake  12/02/2017       A   1270
3       40140           Dempster-Skokie  12/19/2017       W   1759
4       40690                  Dempster  12/03/2017       U    499
5       41660                Lake/State  12/30/2017       A   8615
6       40180      Oak Park-Forest Park  12/17/2017       U    442
7       40250  Kedzie-Homan-Forest Park  12/02/2017       A   1353
8       40120               35th/Archer  12/07/2017       W   3353
9       41420        Addison-North Main  12/19/2017       W   6034

In [8]:
print(ridership_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245839 entries, 0 to 1245838
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   station_id   1245839 non-null  int64
 1   stationname  1245839 non-null  object
 2   date         1245839 non-null  object
 3   daytype      1245839 non-null  object
 4   rides        1245839 non-null  int64
dtypes: int64(2), object(3)
memory usage: 47.5+ MB
None

In [22]:
# Generate int columns for year, month, and day from the date column
ridership_df['date'] = pd.to_datetime(ridership_df['date'], format='%m/%d/%Y')

ridership_df["year"] = ridership_df["date"].dt.year.astype(int)
ridership_df["month"] = ridership_df["date"].dt.month.astype(int)
ridership_df["day"] = ridership_df["date"].dt.day.astype(int)

# Filter to a restricted date range to limit the size of the data in memory
min_year = 2018
max_year = 2024

ridership_df = ridership_df[
    (ridership_df.year) > (min_year - 1) & \
        (ridership_df.year < max_year + 1)
]

ridership_df = ridership_df.sort_values(
    by=['station_id', 'year', 'month', 'day'],
    ascending=True
)

In [23]:
ridership_df.head(10)

,station_id,stationname,date,daytype,rides,year,month,day
10227,40010,Austin-Forest Park,2018-01-01,U,343,2018,1,1
8670,40010,Austin-Forest Park,2018-01-02,W,1187,2018,1,2
16272,40010,Austin-Forest Park,2018-01-03,W,1429,2018,1,3
13098,40010,Austin-Forest Park,2018-01-04,W,1447,2018,1,4
9846,40010,Austin-Forest Park,2018-01-05,W,1391,2018,1,5
14435,40010,Austin-Forest Park,2018-01-06,A,532,2018,1,6
6755,40010,Austin-Forest Park,2018-01-07,U,450,2018,1,7
9518,40010,Austin-Forest Park,2018-01-08,W,1773,2018,1,8
15883,40010,Austin-Forest Park,2018-01-09,W,1808,2018,1,9
4844,40010,Austin-Forest Park,2018-01-10,W,1832,2018,1,10

In [24]:
print(ridership_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 361768 entries, 10227 to 1245838
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   station_id   361768 non-null  int64
 1   stationname  361768 non-null  object
 2   date         361768 non-null  datetime64[ns]
 3   daytype      361768 non-null  object
 4   rides        361768 non-null  int64
 5   year         361768 non-null  int32
 6   month        361768 non-null  int32
 7   day          361768 non-null  int32
dtypes: datetime64[ns](1), int32(3), int64(2), object(2)
memory usage: 20.7+ MB
None

In [ ]:
# Todo: check that station ID and date are unique
# Left join with station ID and names from system information dataset